<p>Group Page</p>

<ng-container *ngIf="model$ | async as group">
  <button class="m-1" mat-stroked-button>
    {{group.name}}
  </button>

  <div class="mt-2">Members:</div>

  <div class="d-flex flex-column align-items-start">
    <button class="m-1" mat-stroked-button *ngFor="let member of group.members">
      {{member.name || '[no name]'}}
    </button>
  </div>

  <button class="m-2" mat-raised-button color="primary" [routerLink]="['/group/list']">Group List</button>

  <button class="m-2" mat-raised-button color="primary" [routerLink]="['/group/'+ group.id + '/event/create']">Create Event</button>
  <button class="m-2" mat-raised-button color="primary" [routerLink]="['/group/'+ group.id + '/event/list']">Event List</button>

  <button class="m-2" mat-raised-button color="primary" [routerLink]="['edit']">Edit</button>

  <button class="m-2" mat-raised-button color="warn" (click)="deleteGroup(group)">Delete</button>

  <button class="m-2" mat-raised-button color="accent" (click)="onCalculate(group)">Calculate</button>

  <br>
  <br>

  <div *ngFor="let calculation of calculations">
    {{calculation.name}} : {{calculation.accounting | currency}}
  </div>
</ng-container>
