<p>create-edit-expense works!</p>

<button class="m-2" mat-raised-button color="primary" [routerLink]="['../../']">Event</button>

<ng-container *ngIf="members$ | async as members">
  <div>
    <div [formGroup]="form">
      <ng-container formArrayName="expenses">
        <ng-container *ngFor="let expenseForm of expenses?.controls; let expenseIndex = index">
          <div [formGroup]="expenseForm">

            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput type="number" formControlName="price">
            </mat-form-field>

            <ng-container formArrayName="payers">
              <ng-container *ngFor="let payerForm of payers(expenseIndex).controls; let payerIndex = index">
                <div [formGroup]="payerForm">
                  <!-- <select formControlName="member" [compareWith]="compareWith"> -->
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="memberId">
                      <mat-option *ngFor="let member of members" [value]="member.id">{{member.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <input matInput type="number" formControlName="price">
                  </mat-form-field>
                </div>
                <button class="m-2" mat-raised-button color="warn" (click)="deletePayer(expenseIndex,payerIndex)">Delete Payer</button>
              </ng-container>
              <button class="m-2" mat-raised-button color="primary" (click)="addPayer(expenseIndex)">Add Payer</button>
            </ng-container>

            <ng-container formArrayName="consumers">
              <ng-container *ngFor="let consumerForm of consumers(expenseIndex).controls; let consumerIndex = index">
                <div [formGroup]="consumerForm">
                  <!-- <select formControlName="member" [compareWith]="compareWith"> -->
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="memberId">
                      <mat-option *ngFor="let member of members" [value]="member.id">{{member.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <input matInput type="number" formControlName="share">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <input matInput type="number" formControlName="price">
                  </mat-form-field>
                </div>
                <button class="m-2" mat-raised-button color="warn" (click)="deleteConsumer(expenseIndex,consumerIndex)">Delete Consumer</button>
              </ng-container>
              <button class="m-2" mat-raised-button color="primary" (click)="addConsumer(expenseIndex)">Add Consumer</button>
              <button class="m-2" mat-raised-button color="primary" (click)="equalShare(consumers(expenseIndex), expenseForm)">Equal Share</button>
            </ng-container>

          </div>

          <button class="m-2" mat-raised-button color="warn" (click)="deleteExpense(expenseIndex)">Delete Expense</button>
        </ng-container>
      </ng-container>
    </div>

    <button class="m-2" mat-raised-button color="primary" (click)="addExpense()">Add Expense</button>


    <button class="m-2" mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</ng-container>
