<p *ngIf="createMode">Create Event</p>
<p *ngIf="editMode">Edit Event</p>

<button class="m-2" mat-raised-button color="primary" [routerLink]="['event/list']">Event List</button>

<div>

  <div [formGroup]="form">
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="editMode">
      <mat-select formControlName="statusId">
        <mat-option [value]="EventStatusEnum.New">New</mat-option>
        <mat-option [value]="EventStatusEnum.Completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-container>
    <button class="m-2" mat-raised-button color="primary" (click)="save()">Save</button>
    <button class="m-2" mat-raised-button color="primary" *ngIf="createMode" (click)="saveAndNew()">Save And New</button>
  </ng-container>
</div>
