<p>event works!</p>

<ng-container>

  {{model.name}}

  <div>Users</div>
  <!-- <div *ngFor="let user of event.users">{{user.name}}</div> -->

  <button [routerLink]="['event/list']">Event List</button>

  <button [routerLink]="['edit']">Edit</button>

  <button (click)="deleteEvent()">Delete</button>

  <button [routerLink]="['expense/create-edit']">Expenses</button>

  <button (click)="onCalculate()">Calculate</button>

  <br>
  <br>

  <div *ngFor="let calculation of calculations">
    {{calculation.name}} : {{calculation.accounting | currency}}
  </div>
</ng-container>
