<p *ngIf="createMode">create-member works!</p>
<p *ngIf="editMode">edit-member works!</p>

<button class="m-2" mat-raised-button color="primary" [routerLink]="['/member/list']">Member List</button>


<div [formGroup]="form">

  <mat-form-field appearance="outline">
    <input matInput type="text" formControlName="name">
  </mat-form-field>

  <button class="m-2" mat-raised-button color="primary" (click)="save()">Save</button>
  <button class="m-2" mat-raised-button color="primary" *ngIf="createMode" (click)="saveAndNew()">Save And New</button>

</div>
