<p>create-edit-expense works!</p>

<button [routerLink]="['../../']">Event</button>

<ng-container *ngIf="users$ | async as users">
  <div>
    <div [formGroup]="form">
      <ng-container formArrayName="expenses">
        <ng-container *ngFor="let expenseForm of expenses?.controls; let expenseIndex = index">
          <div [formGroup]="expenseForm">

            <input type="text" formControlName="name">
            <input type="number" formControlName="price">

            <ng-container formArrayName="payers">
              <ng-container *ngFor="let payerForm of payers(expenseIndex).controls; let payerIndex = index">
                <div [formGroup]="payerForm">
                  <!-- <select formControlName="user" [compareWith]="compareWith"> -->
                  <select formControlName="userId">
                    <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
                  </select>
                  <input type="number" formControlName="price">
                </div>
                <button (click)="deletePayer(expenseIndex,payerIndex)">Delete Payer</button>
              </ng-container>
              <button (click)="addPayer(expenseIndex)">Add Payer</button>
            </ng-container>

            <ng-container formArrayName="consumers">
              <ng-container *ngFor="let consumerForm of consumers(expenseIndex).controls; let consumerIndex = index">
                <div [formGroup]="consumerForm">
                  <!-- <select formControlName="user" [compareWith]="compareWith"> -->
                  <select formControlName="userId">
                    <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
                  </select>
                  <input type="number" formControlName="share">
                  <input type="number" formControlName="price">
                </div>
                <button (click)="deleteConsumer(expenseIndex,consumerIndex)">Delete Consumer</button>
              </ng-container>
              <button (click)="addConsumer(expenseIndex)">Add Consumer</button>
              <button (click)="equalShare(consumers(expenseIndex), expenseForm)">Equal Share</button>
            </ng-container>

          </div>

          <button (click)="deleteExpense(expenseIndex)">Delete Expense</button>
        </ng-container>
      </ng-container>
    </div>

    <button (click)="addExpense()">Add Expense</button>


    <button (click)="save()">Save</button>
  </div>
</ng-container>
