<p *ngIf="createMode">create-group works!</p>
<p *ngIf="editMode">edit-group works!</p>

<button class="m-2" mat-raised-button color="primary" [routerLink]="['/group/list']">Group List</button>


<div>

  <div [formGroup]="form">
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="name">
    </mat-form-field>
  </div>

  <ng-container *ngIf="users$ | async as users;">
    <div *ngFor="let user of users">
      <input type="checkbox"
        [(ngModel)]="usersByIdForCheckBox[user.id]"
        > {{user.name}}
    </div>

    <!-- <div *ngFor="let user of users;">
      <input type="checkbox"
        > {{user.name}}
    </div> -->

    <button class="m-2" mat-raised-button color="primary" (click)="save(users)">Save</button>
    <button class="m-2" mat-raised-button color="primary" *ngIf="createMode" (click)="saveAndNew(users)">Save And New</button>
  </ng-container>
</div>
